$size-2: 2px;
$size-4: 4px;
$size-8: 8px;
$size-11: 11px;
$size-12: 12px;
$size-13: 13px;
$size-14: 14px;
$size-16: 16px;
$size-18: 18px;
$size-20: 20px;
$size-24: 24px;
$size-32: 32px;
$size-36: 36px;
$size-38: 38px;
$size-42: 42px;
$size-56: 56px;