@use "../../../../style/breakpoint/breakpoints" as breakpoints;


.mainContainer {
  margin: 0 auto;
  background: white;
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;

  @include breakpoints.respond(('phone', 'tab-port', 'tab-land', 'desktop')) {
    max-width: 480px;
  }
}

