// ===================== Red =====================
$red-100: #E82121;
$red-200: #EE486C;
$red-300: #FEEDF1;

// ===================== Orange =====================
$orange-100: #F28416;
$orange-200: #FFE0A2;
$orange-300: #FFF6E3;

// ===================== Green =====================
$green-100: #3FC70E;
$green-200: #2DA647;
$green-300: #DEF9D4;
$green-400: #F3FFEF;
$green-500: #F3FFEF;

// ===================== Blue =====================
$blue-100: #0178D4;
$blue-200: #2864D3;
$blue-300: #AEC8F8;
$blue-400: #EBF2FF;
$blue-500: #EEF3FB;
$blue-600: #F8FAFF;

// ===================== Cyan =====================
$cyan-100: #0DCAF0;

// ===================== White =====================
$white-100: #ffffff;
$white-200: #F8F9FB;
$white-300: #F5F6FA;
$white-400: #F8F9FA;

// ===================== Grey =====================
$grey-100: #1F1F1F;
$grey-200: #8791A1;
$grey-300: #9CA0B3;
$grey-400: #C6CCE2;
$grey-500: #E6EAF8;
$grey-600: #F3F4F9;

// ===================== Black =====================
$black-100: #212529;
